$font-stack: 'RobotoDraft';
$dark-grey: #666;
$light-grey: #eee;
$dark-blue:#4682B4;


html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font: 100% $font-stack;
    color: $dark-grey;
    background-color:$light-grey;
}

core-header-panel {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;

    > core-toolbar {
        background-color:$dark-blue;
    }

    > section {
        padding-top:100px;
    }
}